
<!-- Top Navigation Bar -->
<header id="header" class="clearfix" data-current-skin="blue">
    <ul class="header-inner">
        <% if "#{params[:controller]}##{params[:action]}" != 'users/sessions#new' %>
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>
        <% end %>

        <li class="logo <%= 'force-absolute-center' if "#{params[:controller]}##{params[:action]}" == 'users/sessions#new' %>">
            <%= link_to '페이스북 페이지 관리자', root_path %>
        </li>

    </ul>
</header>
